/* Reset de estilos padrão para todos os elementos */
* {
  margin: 0; /* Remove margem de todos os elementos */
  padding: 0; /* Remove padding de todos os elementos */
  box-sizing: border-box; /* Define o box-sizing como border-box para todos os elementos, permitindo que as propriedades width e height incluam as bordas e o padding */
}

/* Estilização do corpo da página */
.corpo {
  height: 100%; /* Define a altura do elemento como 100% da altura da janela */
  width: 100%; /* Define a largura do elemento como 100% da largura da janela */
  background-color: #252525; /* Define a cor de fundo como branco */
  background-repeat: no-repeat; /* Impede a repetição da imagem de fundo */
  background-size: 100%; /* Redimensiona a imagem de fundo para cobrir completamente o elemento */
}


/* Estilização do logo */
.logo {
  width: 150px; /* Largura fixa de 150px para o logo */
  height: 150px; /* Altura fixa de 150px para o logo */
  position: fixed; /* Posição fixa, o elemento permanecerá no mesmo lugar ao rolar a página */
  top: 14%; /* Define a posição superior do logo em 14% da altura do viewport */
  left: 5%; /* Define a posição esquerda do logo em 5% do viewport */
  transform: translate(-50%, -50%); /* Ajusta a posição do logo para que ele fique centralizado na posição especificada */
  text-align: center; /* Alinha o texto no centro do elemento */
}


/* Estilização do título (h1) */
.h1 {
  font-family: "Sora", sans-serif; /* Define a fonte como "Sora" com fallback para sans-serif */
  font-optical-sizing: auto; /* Habilita a otimização ótica da fonte para legibilidade */
  display: flex; /* Utiliza layout flexbox para organizar os elementos filhos */
  justify-content: center; /* Alinha horizontalmente os elementos filhos no centro */
  align-items: center; /* Alinha verticalmente os elementos filhos no centro */
  color: #ffffff; /* Define a cor do texto como preto */
  left: 10px; /* Define a posição esquerda do título como 10px do lado esquerdo do elemento pai */
  font-family: "Sora", sans-serif; /* Define a fonte como "Sora" com fallback para sans-serif */
  font-optical-sizing: auto;
}

/* Estilização do formulário centralizado */
.formulario {
  width: 550px; /* Largura fixa de 550px para o formulário */
  height: 400px; /* Altura fixa de 400px para o formulário */
  margin: auto; /* Centraliza o formulário automaticamente dentro do elemento pai */
  display: flex; /* Utiliza layout flexbox para organizar os elementos filhos */
  flex-direction: column; /* Organiza os elementos filhos em direção de coluna */
  justify-content: space-evenly; /* Distribui uniformemente o espaço entre os elementos filhos */
  border-color: solid 50px #0EB9CB; /* Define a cor da borda com um tom de azul sólido */
  border: 0; /* Remove qualquer borda adicional */
  border-radius: 5px; /* Bordas arredondadas com raio de 5px */
  border-style: inset; /* Estilo de borda interna */
  margin-top: 40px; /* Adiciona margem superior de 40px */
}


/* Estilização para campos de entrada de formulário */
.form-control {
  width: 500px; /* Largura fixa de 500px para os campos de entrada */
  border-radius: 6px; /* Bordas arredondadas com raio de 6px */
  height: 45px; /* Altura fixa de 45px para os campos de entrada */
  font-size: 18px; /* Tamanho da fonte de 18px */
  position: relative; /* Define posição relativa para os campos de entrada */
  border: 2px solid; /* Define uma borda sólida de 2px */
  border-color: #4a7aff ; /* Define a cor da borda com um gradiente entre #4a7aff e #092b99 */
  background-color: transparent; /* Fundo transparente para os campos de entrada */
  padding: 10px; /* Adiciona padding interno de 10px */
  margin-bottom: 10px; /* Adiciona margem inferior de 10px para separar os campos de entrada */
  color: #fff;
  font-family: "Sora", sans-serif; /* Define a fonte como "Sora" com fallback para sans-serif */
  font-optical-sizing: auto;
}

input::placeholder{
 color: white;
}

.select-adm{
  width: 150px;
  height: 45px;
  border-radius: 6px;
  border: 2px solid; /* Define uma borda sólida de 2px */
  border-color: #4a7aff;
  background-color: transparent;
  font-family: "Sora", sans-serif; /* Define a fonte como "Sora" com fallback para sans-serif */
  font-optical-sizing: auto;
  color: #ffffff;

}

option{
  color: black;
}

/* Centraliza um contêiner vertical e horizontalmente */
.container {
  height: 200px; /* Altura fixa de 200px para o contêiner */
  position: relative; /* Define posição relativa para o contêiner */
  display: flex; /* Utiliza layout flexbox para organizar os elementos filhos */
  justify-content: center; /* Alinha horizontalmente os elementos filhos no centro */
  align-items: center; /* Alinha verticalmente os elementos filhos no centro */
}



/* Estilização dos botões */
.button {
  background: linear-gradient(to right, #4a7aff, #092b99); /* Gradiente de azul para preto */
  width: 130px; /* Largura fixa de 130px para o botão */
  height: 40px; /* Altura fixa de 40px para o botão */
  padding: 0; /* Remove padding interno */
  border: 0; /* Remove qualquer borda */
  border-radius: 5px; /* Bordas arredondadas com raio de 5px */
  color: #fff; /* Define a cor do texto como branco */
}

/* Estilização do texto */
.b {
  font-family: "Sora", sans-serif; /* Define a fonte como "Sora" com fallback para sans-serif */
  font-optical-sizing: auto; /* Habilita a otimização ótica da fonte para legibilidade */
}

/* Estilização para link de "esqueceu senha" */
.a {
  font-family: "Sora", sans-serif; /* Define a fonte como "Sora" com fallback para sans-serif */
  font-optical-sizing: auto; /* Habilita a otimização ótica da fonte para legibilidade */
  display: flex; /* Utiliza layout flexbox para organizar os elementos filhos */
  justify-content: center; /* Alinha horizontalmente os elementos filhos no centro */
  align-items: center; /* Alinha verticalmente os elementos filhos no centro */
  color: #fff; /* Define a cor do texto como preto */
  position: absolute; /* Define posição absoluta para o link */
  bottom: 75px; /* Posiciona o link 20px acima do final da página */
  left: 45%; /* Centraliza o link horizontalmente */
}
