* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-family: monospace;
    background-color: #1C1C39;
    align-items: center;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 8px;

}

.button {
    text-align: center;
    padding: 5px 15px;
    /* Espaçamento interno */
    font-size: 16px;
    /* Tamanho da fonte */
    border: none;
    /* Remove a borda */
    border-radius: 5px;
    /* Borda arredondada */
    background-color: #007bff;
    /* Cor de fundo azul */
    color: #fff;
    /* Cor do texto branco */

}

.posicaobotao {
    text-align: center;
}

.calculadorapai {

    margin-top: 5%;
    align-items: left;
    background-color: #7091a4;
    border-radius: 5px;
    text-align: left;
    width: 50%;
    height: 50%;
    color: white;
}

.freezemeds {
    margin: 2%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.calculadoradentro {
    margin: 5%;

}

.desc {

    color: white;
    background-color: rgb(39, 176, 192);
    text-align: center;
    width: 50%;
    height: 500px;

}

.descdentro {
    margin: 5%;
}

.titulo {
    text-align: left;

}