* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Adicionado para esconder a barra de rolagem horizontal */
}
.cadastro {
    width: 630px;
    height: 695px;
    background-color: rgb(255, 255, 255);
    float: right
    
}
.imagem {
    display: flex;
    height: 695px;
    width: 550px;
    margin-right: 30px; /* Adicionado margem direita para manter a imagem visível */

}

.imagem img {
    max-width: 170%; /* Ajustado para que a imagem não ultrapasse a largura do contêiner */
    height: auto;
}
.h1Cadastro{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 49px;
    margin-bottom: 15px;
    width: 387px;
    
}
.paiCadastro{
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 25%;


}

.botãoCadastro{

    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    background-color: #3b406d;
    width: 294px;
    height: 62px;
    border-radius: 15px;
    color: white;
    border-color: transparent;
    padding: 13px;

}

input {
    border-radius: 15px;
    background-color: #d9d9d9;
    border-color: transparent;
    position: relative;
    padding: 3px;
    margin-bottom: 15px;
    width: 408px;
    height: 40px;
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: large;
}

.entradasCadastro{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 65%;
    
}

.entradasCadastro_confirmar{
    font-family: "ABeeZee", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin-right: 47%;
}