body{
    margin: 0;
    padding: 0;
}

.ContainerMae{
    display: flex;
    height: 100%;
    width: 100%;
}

.ContainerPai {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #E1E1E1;
}

.ConteudoCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #FFFF;
    border-radius: 35px;
    width: 50%;
    margin: 0px;
    height: 530px;
}

.ConteudoCadastro h1{
    margin: 0px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: black;
}
 

.InputsCadastro {
    display: flex;
    height: 100%;
    width: 95%;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    
}

.InputsCadastro p{
    margin: 0px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    
}

.input {
    width: 44vh;
    height: 34px;
    border-radius: 10px;
    border: 0px;
    background-color: #d9d9d9;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #000000;
    font-size: 20px;
    margin: 3px;
}


.Btn {

    width: 234px;
    height: 56px;
    text-align: center;
    font-size: 28px;
    border-radius: 15px;
    background-color: #3b406d;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: italic;
    color: #fff;
    border: none;
    margin-bottom: 20px;
    transition: transform 0.4s ease;
    
}

.Btn:hover{
background-color: #343e97;
color: white;
transform: scale(1.05);
cursor: pointer;
transition-delay: 5ms;
transition-duration: 5ms;

}

.InputsCadastro h1{

    font-size: 30px;
    height: 50px;
    color: black;
    
    
    }
    